.pink{
    color: #CA1289 !important;
}

.green-text{
    color: #00b230 !important;
}
a.green-text:hover{
    color: #00b230 !important;
}
.navbar-nav { 
    li a.green-text:hover {
        color: #00b230 !important;
    }
  }