<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="dark bg-card dark:border-b">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <!-- Avatar and name -->
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/avatars/about.png">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container *transloco="let t">
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">{{t('welcome-back')}}, Lesly!</div>
                        </ng-container>

                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                    <button
                        class="fuse-mat-button-rounded bg-accent-600"
                        mat-flat-button
                        [color]="'accent'">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:user'"></mat-icon>
                        <span class="ml-2">My profile</span>
                    </button>

                </div>
            </div>

        </div>
    </div>
    <div class="flex flex-auto flex-col space-y-5 p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
            <!-- Provinces -->
            <div class="bg-card shadow p-6 rounded hover:transition hover:duration-500 hover:-translate-y-3 cursor-pointer">
                <div class="flex justify-between items-start">
                    <div class="flex flex-col">
                        <p class="text-gray-600 text-sm font-medium truncate">Documents</p>
                        <h3 class="text-3xl text-blue-500 font-bold  ">508</h3>
                    </div>
                    <div class="bg-blue-500 p-2 align-center md:p-2 xl:p-3 rounded-2xl">
                        <mat-icon [svgIcon]="'heroicons_outline:map'" class="text-white h-8 w-8 md:h-6 xl:h-8 object-cover">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <!-- Projects -->
            <div class="bg-card shadow p-6 rounded hover:transition hover:duration-500 hover:-translate-y-3 cursor-pointer">
                <div class="flex justify-between items-start">
                    <div class="flex flex-col">
                        <p class="text-gray-600 text-sm font-medium truncate">Categories</p>
                        <h3 class="text-3xl text-green-500 font-bold  ">8</h3>
                    </div>
                    <div class="bg-green-500 p-2 align-center md:p-2 xl:p-3 rounded-2xl">
                        <mat-icon [svgIcon]="'heroicons_outline:clipboard-list'"
                            class="text-white h-8 w-8 md:h-6 xl:h-8 object-cover">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <!-- Ministries -->
            <div class="bg-card shadow p-6 rounded hover:transition hover:duration-500 hover:-translate-y-3 cursor-pointer">
                <div class="flex justify-between items-start">
                    <div class="flex flex-col">
                        <p class="text-gray-600 text-sm font-medium truncate">Updated</p>
                        <h3 class="text-3xl text-accent-500 font-bold  ">8</h3>
                    </div>
                    <div class="bg-accent-500 p-2 align-center md:p-2 xl:p-3 rounded-2xl">
                        <mat-icon [svgIcon]="'heroicons_outline:office-building'"
                            class="text-white h-8 w-8 md:h-6 xl:h-8 object-cover">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <!-- Users -->
            <div class="bg-card shadow p-6 rounded hover:transition hover:duration-500 hover:-translate-y-3 cursor-pointer">
                <div class="flex justify-between items-start">
                    <div class="flex flex-col">
                        <p class="text-gray-600 text-sm font-medium truncate">Removed</p>
                        <h3 class="text-3xl text-indigo-600 font-bold  ">8</h3>
                    </div>
                    <div class="bg-indigo-500 p-2 align-center md:p-2 xl:p-3 rounded-2xl">
                        <mat-icon [svgIcon]="'heroicons_outline:user-group'"
                            class="text-white h-8 w-8 md:h-6 xl:h-8 object-cover">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">

            <!-- Github issues summary -->
            <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card rounded shadow-sm overflow-hidden">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium mt-0.5 tracking-tight leading-6 truncate">Documents Changes Report</div>
                    <div class="mt-3 sm:mt-0 sm:ml-2">
                        <mat-button-toggle-group value="this-week" #githubIssuesWeekSelector="matButtonToggleGroup">
                            <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                            <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
                    <!-- New vs. Closed -->
                    <div class="flex flex-col flex-auto">
                        <div class="font-medium text-secondary">New vs. Updated</div>
                        <div class="flex flex-col flex-auto">
                            <apx-chart class="flex-auto w-full h-80" [chart]="chartGithubIssues.chart"
                                [colors]="chartGithubIssues.colors" [dataLabels]="chartGithubIssues.dataLabels"
                                [grid]="chartGithubIssues.grid" [labels]="chartGithubIssues.labels"
                                [legend]="chartGithubIssues.legend" [plotOptions]="chartGithubIssues.plotOptions"
                                [series]="chartGithubIssues.series[githubIssuesWeekSelector.value]"
                                [states]="chartGithubIssues.states" [stroke]="chartGithubIssues.stroke"
                                [tooltip]="chartGithubIssues.tooltip" [xaxis]="chartGithubIssues.xaxis"
                                [yaxis]="chartGithubIssues.yaxis"></apx-chart>
                        </div>
                    </div>
                    <!-- Overview -->
                    <div class="flex flex-col">
                        <div class="font-medium text-secondary">Overview</div>
                        <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                            <!-- New issues -->
                            <div
                                class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                                <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                    {{data.githubIssues.overview[githubIssuesWeekSelector.value]['new-issues']}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Documents</div>
                            </div>
                            <!-- Closed -->
                            <div
                                class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                                <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                                    {{data.githubIssues.overview[githubIssuesWeekSelector.value]['closed-issues']}}
                                </div>
                                <div class="mt-1 text-sm sm:text-lg font-medium">Recently Uploaded</div>
                            </div>
                            <!-- Fixed -->
                            <div
                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{data.githubIssues.overview[githubIssuesWeekSelector.value]['fixed']}}
                                </div>
                                <div class="mt-1 text-sm font-medium text-center">Updated</div>
                            </div>
                            <!-- Won't fix -->
                            <div
                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{data.githubIssues.overview[githubIssuesWeekSelector.value]['wont-fix']}}
                                </div>
                                <div class="mt-1 text-sm font-medium text-center">Removed</div>
                            </div>
                            <!-- Re-opened -->
                            <div
                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{data.githubIssues.overview[githubIssuesWeekSelector.value]['re-opened']}}
                                </div>
                                <div class="mt-1 text-sm font-medium text-center">Renamed</div>
                            </div>
                            <!-- Needs triage -->
                            <div
                                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                                <div class="text-5xl font-semibold leading-none tracking-tight">
                                    {{data.githubIssues.overview[githubIssuesWeekSelector.value]['needs-triage']}}
                                </div>
                                <div class="mt-1 text-sm font-medium text-center">Dublicated</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



